@import 'tailwindcss';
@import '@fontsource/fira-mono' layer(utilities);

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';

@variant dark (&:where(.dark, .dark *));

@source "../node_modules/@life/shared";
@source "../node_modules/svelendar";

:root {
	--font-body:
		Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body), serif;
}

pre {
	font-family: var(--font-mono), serif;
}
