@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body), serif;
}

/*dark*/
.bg-dark {
	@apply bg-gray-50 dark:bg-gray-900;
}

.hover-dark {
	@apply hover:bg-gray-100 dark:hover:bg-gray-800;
}

.border-darker {
	@apply divide-gray-300 border-gray-300 dark:divide-gray-700 dark:border-gray-700;
}

.border-dark {
	@apply divide-gray-200 border-gray-200 dark:divide-gray-800 dark:border-gray-800;
}

/*light*/
.bg-light {
	@apply bg-white dark:bg-gray-800;
}

.hover-light {
	@apply hover:bg-gray-50 dark:hover:bg-gray-900;
}

.border-light {
	@apply divide-gray-100 border-gray-100 dark:divide-gray-700 dark:border-gray-700;
}


/*text*/
.text-darker {
	@apply text-gray-900 dark:text-white;
}

.text-dark {
	@apply text-gray-700 dark:text-gray-100;
}

.text-middle {
	@apply text-gray-500 dark:text-gray-400;
}